	body {font-family:arial;
	/*background-image:url(images/ojo.jpg);*/
	}
	
	h1 {
	font-size: 2em; 
	font-variant:small-caps; 
	font-weight:bolder; 
	color:#556975;
	letter-spacing:5px;
	text-align:center;
	}
	
	h2 {
	font-size: 1em; 
	font-variant:small-caps; 
	color:#556975;
	letter-spacing:5px;
	text-align:center
	}
	 
#titulo {
	width: auto;
	background-color:#FFFFDD;
	border-width:medium;
	border-style: solid;
	border-color:#000;
	text-align:center;
	/*8B*/
	margin-top:50px;
	margin-bottom:60px;
	}
	
#caja1 {
	background-color:rgba(249,250,226,0.85);
	width:25%;
	border-style: solid;
	border-width:thin;
	text-align:right;
	}
	
#caja2 {
	background-color:rgba(225,247,140,0.75);
	width:50%;
	border-style: solid;
	border-width:thin;
	text-align:justify;
	background-image:url(images/k3.gif);
	background-position:center center;
	background-repeat:no-repeat;
	}
	
#caja3 {
	background-color:rgba(176,215,247,0.5);
	width:75%;
	border-style: dotted;
	border-width:thin;
	text-align:center;
	background-image:url(images/k3.gif)
	}
	
#caja4 {
	background-image:url(images/k3.gif);
	border-style: dashed;
	border-width:thin;
	text-align:left;
	/*8B*/
	width:95%;
	}
	
	/*8B*/
.cajacentrada {
	margin-left:auto;
	margin-right:auto;
	}
	
	/*8B*/
#caja1,#caja2,#caja3,#caja4 {
		margin-top:25px;
		padding: 15px;
	}
	
#pie {
	text-align:center;
	background-color:rgb(99,120,122);
	border-style: solid;
	border-width:.25em;
	border-color:#556975;
	color:#fff;
	/*8B*/
	margin-top:30px;
	padding-top:10px;
	padding-bottom:10px;
}
.destacado 	{
	background-color:#FFFFAD;
	font-weight:bold;
	font-style:italic;
	font-family:verdana;
	/*8B*/
	border-style:dotted;
	border-width:thin;
	padding-left:5px;
	padding-right:5px;
	
	}
	
	
	
	
	
	
	
	
	
	
	
	